 /* /* .list-overflow-container {
  max-height: 400px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.list-overflow-container ul {
  margin: 20px;
  padding-bottom: 40px;
  
}

.list-overflow-container li {
  border-radius: 40px;
  margin-bottom: 20px;
 text-align: center;
 background-color: lightgray;
 
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.list-overflow-container li:last-child {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


